@import 'tailwindcss';

@config "../tailwind.config.js";

select, input:focus {
    outline: none;
}
*{
    scroll-behavior: smooth;
}

* {
    scrollbar-width: none;
}

button{
    cursor: pointer;
}